nin[Desktop Entry]
Name=Orta
GenericName=OK
Comment=Testings
Categories=Utility;Education;
Exec=io.orta.template
Icon=application-default-icon
Terminal=false
Type=Application
Keywords=Hello;World;Example;
