[Desktop Entry]
Name=Clipboard
GenericName=Clipboard
Comment=A test thing
Categories=Utility;Education;
Exec=io.orta.clipboard
Icon=application-default-icon
Terminal=false
Type=Application
Keywords=Hello;World;Example;
